## List of all Magic Cells

In [2]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %sql  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [3]:
%autosave 60

Autosaving every 60 seconds

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
# %load hello.py
print("Hello World!")

Hello World!

In [6]:
%run hello.py

Hello World!

## SQL Magic in Cells

In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

Example of creating a table and inserting values

In [2]:
%%sql
CREATE TABLE "AGENTS" (
    "AGENT_CODE" CHAR(6) NOT NULL PRIMARY KEY,
    "AGENT_NAME" CHAR(40),
    "WORKING_AREA" CHAR(35),
    "COMMISSION" NUMBER(10, 2),
    "PHONE_NO" CHAR(15),
    "COUNTRY" VARCHAR2(25)
);

INSERT INTO AGENTS VALUES ('A007', 'Ramasundar', 'Bangalore', '0.15', '077-25814763', 'AUS');
INSERT INTO AGENTS VALUES ('A003', 'Alex ', 'London', '0.13', '075-12458969', 'AUS');
INSERT INTO AGENTS VALUES ('A008', 'Alford', 'New York', '0.12', '044-25874365', 'JP');
INSERT INTO AGENTS VALUES ('A011', 'Ravi Kumar', 'Bangalore', '0.15', '077-45625874', 'JP');
INSERT INTO AGENTS VALUES ('A010', 'Santakumar', 'Chennai', '0.14', '007-22388644', 'AUS');
INSERT INTO AGENTS VALUES ('A012', 'Lucida', 'San Jose', '0.12', '044-52981425', 'JP');
INSERT INTO AGENTS VALUES ('A005', 'Anderson', 'Brisban', '0.13', '045-21447739', 'USA');
INSERT INTO AGENTS VALUES ('A001', 'Subbarao', 'Bangalore', '0.14', '077-12346674', 'USA');
INSERT INTO AGENTS VALUES ('A002', 'Mukesh', 'Mumbai', '0.11', '029-12358964', 'AUS');
INSERT INTO AGENTS VALUES ('A006', 'McDen', 'London', '0.15', '078-22255588', 'USA');
INSERT INTO AGENTS VALUES ('A004', 'Ivan', 'Torento', '0.15', '008-22544166', 'AUS');
INSERT INTO AGENTS VALUES ('A009', 'Benjamin', 'Hampshair', '0.11', '008-22536178', 'AUS');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [3]:
%sql SELECT * FROM AGENTS

 * sqlite://
Done.

[('A007', 'Ramasundar', 'Bangalore', 0.15, '077-25814763', 'AUS'),
 ('A003', 'Alex ', 'London', 0.13, '075-12458969', 'AUS'),
 ('A008', 'Alford', 'New York', 0.12, '044-25874365', 'JP'),
 ('A011', 'Ravi Kumar', 'Bangalore', 0.15, '077-45625874', 'JP'),
 ('A010', 'Santakumar', 'Chennai', 0.14, '007-22388644', 'AUS'),
 ('A012', 'Lucida', 'San Jose', 0.12, '044-52981425', 'JP'),
 ('A005', 'Anderson', 'Brisban', 0.13, '045-21447739', 'USA'),
 ('A001', 'Subbarao', 'Bangalore', 0.14, '077-12346674', 'USA'),
 ('A002', 'Mukesh', 'Mumbai', 0.11, '029-12358964', 'AUS'),
 ('A006', 'McDen', 'London', 0.15, '078-22255588', 'USA'),
 ('A004', 'Ivan', 'Torento', 0.15, '008-22544166', 'AUS'),
 ('A009', 'Benjamin', 'Hampshair', 0.11, '008-22536178', 'AUS')]

In [5]:
%%sql
SELECT *
FROM AGENTS
WHERE COMMISSION < 0.13

 * sqlite://
Done.

[('A008', 'Alford', 'New York', 0.12, '044-25874365', 'JP'),
 ('A012', 'Lucida', 'San Jose', 0.12, '044-52981425', 'JP'),
 ('A002', 'Mukesh', 'Mumbai', 0.11, '029-12358964', 'AUS'),
 ('A009', 'Benjamin', 'Hampshair', 0.11, '008-22536178', 'AUS')]

Converting df to sql table

In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

df = pd.read_csv("./data/StudentsPerformance.csv")
df.to_sql("StudentPerformance", con=engine)

In [2]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [7]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [18]:
results = engine.execute("""

SELECT lunch
FROM StudentPerformance
WHERE gender = 'female'

""").fetchall()

df_filtered = pd.DataFrame(results)
df_filtered

                0
0        standard
1        standard
2        standard
3        standard
4        standard
..            ...
513  free/reduced
514      standard
515  free/reduced
516      standard
517  free/reduced

[518 rows x 1 columns]